# Ignore config file
src/instance/*.cfg
*~

ingest-venv

# Ignore docker copied stuff
docker/ingest-api/src
docker/ingest-api/VERSION
docker/ingest-api/BUILD

BUILD

# Ignore the docker mounted BUILD and VERSION
src/BUILD
src/VERSION

# Ignore __pycache__ directories in any path
**/__pycache__

# log files in any path
**/*.log

# Rotated log files
**/*.log*

#ignore eclipse files
.project
.pydevproject

#ignore PyCharm files
.idea/
venv
*.DS_Store
*venv*
.vscode/

# Testing
.pytest_cache/

# Ignore PSC puppet generated and copied files
.env
init_env.sh
docker/docker-compose.yml
docker/docker-compose.dev.yml
docker-compose.deployment.prod.yml
docker/docker-development.sh
docker/docker-deployment.sh
docker/ingest-api/nginx
