# Neo4j connection (default value used for docker dev environment)
# Point to remote neo4j for testing and production deployment
NEO4J_SERVER = 'bolt://sennet-neo4j:7687'
NEO4J_USERNAME = 'neo4j'
NEO4J_PASSWORD = '123'

# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# For UI login/logout
# Flask app session key
SECRET_KEY = ''

# Need the trailing slash /
FLASK_APP_BASE_URI = 'https://ingest-api.dev.sennetconsortium.org/'

# React app name and deployment URI (default value used for docker dev environment)
GLOBUS_CLIENT_APP_NAME = 'SenNet Data Portal'

# Point to remote URL for testing and production deployment
GLOBUS_CLIENT_APP_URI = 'https://data.dev.sennetconsortium.org/'

#Entity-api
ENTITY_WEBSERVICE_URL = 'http://entity-api:8080'

#Uuid-api
UUID_WEBSERVICE_URL = 'http://uuid-api:8080'

# Directory where file uploads will be placed temporarily
# until they are committed
# Remember to set the proper file system user and group permission
FILE_UPLOAD_TEMP_DIR = '/codcc-dev-test/data-dev/bulk-uploads-temp'

# Directory where file uploads are permanantly stored ()
# Remember to set the proper file system user and group permission
FILE_UPLOAD_DIR = '/codcc-dev-test/data-dev/bulk-uploads'

# File system settings (committed settings below are for DEV)
GLOBUS_ENDPOINT_FILEPATH = '/codcc-dev-test/data-dev/protected'
SENNET_WEBSERVICE_FILEPATH = '/codcc-dev-test/data-dev/assets'

ACCESS_LEVEL_PROTECTED = 'protected'
ACCESS_LEVEL_CONSORTIUM = 'consortium'
ACCESS_LEVEL_PUBLIC = 'public'

# Absolute file paths of the Globus endpoints (shown are for DEV, change for TEST/STAGE/PROD deployment)
GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/codcc-dev-test/data-dev/public'
GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/codcc-dev-test/data-dev/consortium'
GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/codcc-dev-test/data-dev/protected'
