# Set to True for local non-docker development
# Set to False when deployment with docker (Gateway nginx handles CORS)
ENABLE_CORS = False

# Neo4j connection (default value used for docker dev environment)
# Point to remote neo4j for testing and production deployment
NEO4J_SERVER = 'bolt://hubmap-neo4j:7687'
NEO4J_USERNAME = 'neo4j'
NEO4J_PASSWORD = '123'

# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus Endpoint UUID
GLOBUS_ENDPOINT_UUID = ''

# Admin group UUID
HUBMAP_DATA_ADMIN_GROUP_UUID = '89a69625-99d7-11ea-9366-0e98982705c1'

# Curator group UUID
HUBMAP_DATA_CURATOR_GROUP_UUID = '75804b96-d4a8-11e9-9da9-0ad4acb67ed4'

# File system settings (shown are for DEV)
GLOBUS_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/protected'
HUBMAP_WEBSERVICE_FILEPATH = '/hive/hubmap-dev/assets'
WORKFLOW_SCRATCH = '/hive/hubmap-dev/scratch'

# Directory where file uploads will be placed temporarily (shown are for DEV)
# until they are committed
# Remember to set the proper file system user and group permission
FILE_UPLOAD_TEMP_DIR = '/hive/hubmap-dev/hm_uploads_tmp'

# Directory where file uploads are permanantly stored (shown are for DEV)
# Remember to set the proper file system user and group permission
FILE_UPLOAD_DIR = '/hive/hubmap-dev/hm_uploads'

# UUIDs of the Globus endpoints (shown are for DEV)
GLOBUS_PUBLIC_ENDPOINT_UUID = 'a00a00b8-d1d1-4ab9-b915-0bada54c27a3'
GLOBUS_CONSORTIUM_ENDPOINT_UUID = '3cb7d673-a3db-40e9-8376-f2ead6cb5a45'
GLOBUS_PROTECTED_ENDPOINT_UUID = 'bdaf8547-aab3-4142-97bd-0a16d5cd9f58'

# Absolute file paths of the Globus endpoints (shown are for DEV, change for TEST/STAGE/PROD deployment)
GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/public'
GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/consortium'
GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/protected'

# Relative file paths of the Globus endpoints(shown are for DEV, change for TEST/STAGE/PROD deployment)
RELATIVE_GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/'
RELATIVE_GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/consortium'
RELATIVE_GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/protected'

# File Access Control List Settings to be used by `setfacl` command
# Set value to `hubmap` for all the following users and groups on localhost docker mode
GLOBUS_BASE_FILE_USER_NAME = 'hive'
GLOBUS_ADMIN_FILE_USER_NAME = 'shirey'
GLOBUS_GENOMIC_DATA_FILE_GROUP_NAME = 'hubseq'
GLOBUS_CONSORTIUM_FILE_GROUP_NAME = 'hubmap'

# URL for talking to UUID API (default value used for localhost docker environment)
# Don't use http://localhost since uuid-api running on a different container
# Point to remote https URL for DEV/TEST/STAGE/PROD deployment
UUID_WEBSERVICE_URL = 'http://hubmap-auth:9999/hmuuid'

# Must no trailing slash /
# Default works with docker deployment on the same host machine
SEARCH_WEBSERVICE_URL = 'http://hubmap-auth:6666'

#URL to the entity-api web service
# Default works with docker deployment on the same host machine
ENTITY_WEBSERVICE_URL = 'http://hubmap-auth:3333'

# For UI login/logout
# Flask app session key
SECRET_KEY = 'a%@3k9Hdlkfjakjajf99adsf909oel'

# Need the trailing slash /
FLASK_APP_BASE_URI = 'http://localhost:8484/'

# React app name and deployment URI (default value used for docker dev environment)
GLOBUS_CLIENT_APP_NAME = 'HuBMAP Data Ingest'
# Point to remote URL for testing and production deployment
GLOBUS_CLIENT_APP_URI = 'http://localhost:8585/'

# URL for the ingest pipeline API.  No trailing '/'
INGEST_PIPELINE_URL = 'http://ingest-pipeline:8789/api/hubmap'
# internal test: INGEST_PIPELINE_URL = 'http://localhost:5005/datasets/submissions'

# Default processing type for ingest pipeline API.
INGEST_PIPELINE_DEFAULT_PROCESS = 'SCAN.AND.BEGIN.PROCESSING'

# DataCite REST API basic auth
DATACITE_REPOSITORY_ID = ''
DATACITE_REPOSITORY_PASSWORD = ''

# DataCite REST API base URL
# https://api.test.datacite.org/dois for DEV/TEST/STAGE
# https://api.datacite.org/dois for PROD
DATACITE_API_URL = ''

# Use 10.80478 for DataCite Test site with DEV/TEST/STAGE deployment
# Use 10.35079 for DataCite Production site with PROD deployment
DATACITE_HUBMAP_PREFIX = ''
