Flask==3.1.2
globus_sdk==2.0.1
hubmap-sdk==1.0.10

# Use pinned version of jsonref same as commons
jsonref==0.3.0
jsonschema==3.2.0
neo4j==5.20.0
selenium==3.141.0
PyYAML==6.0.2

# The commons package requires requests>=2.22.0
requests==2.32.5

# Use the published package from PyPI as default
# Use the branch name of commons from github for testing new changes made in commons from different branch
# Default is main branch specified in docker-compose.development.yml if not set
# git+https://github.com/hubmapconsortium/commons.git@${COMMONS_BRANCH}#egg=hubmap-commons
hubmap-commons==2.1.21
atlas-consortia-commons==1.1.4

# For assay type rules
rule_engine==4.1.0

# Job queue
redis==5.0.3
rq==1.16.2

psutil>=7.0.0,<7.1

# temporary fix until IVT is updated
frictionless==4.40.11

# For vitessce config generation
git+https://github.com/hubmapconsortium/portal-visualization.git@0.4.18#egg=portal-visualization
