Flask==3.0.3
globus_sdk==2.0.1
hubmap-sdk==1.0.7
Werkzeug==3.0.3

# The commons package requires requests>=2.22.0
requests==2.32.0

# Use the published package from PyPI as default
# Use the branch name of commons from github for testing new changes made in commons from different branch
# Default is main branch specified in docker-compose.development.yml if not set
# git+https://github.com/hubmapconsortium/commons.git@${COMMONS_BRANCH}#egg=hubmap-commons
hubmap-commons==2.1.15
atlas-consortia-commons==1.0.10

# For assay type rules
rule_engine==4.1.0

# Job queue
redis==5.0.3
rq==1.16.1

APScheduler==3.10.4

# For vitessce config generation
https://github.com/hubmapconsortium/portal-visualization/archive/refs/tags/0.2.6.zip

# Testing
pytest==7.3.1
